public/xml/dtd/memberAdd.dtd

<!ELEMENT members (member+)>
<!ELEMENT member (first_name, last_name, email, phone?, status)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name  (#PCDATA)>
<!ELEMENT email      (#PCDATA)>
<!ELEMENT phone      (#PCDATA)>
<!ELEMENT status     (#PCDATA)>
<!ATTLIST status
          type (active | inactive | pending) "active">